@import url('https://fonts.cdnfonts.com/css/circular-std');

* {
    font-family: 'Circular Std', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {


    background-color: darkslateblue;
    background-size: cover;
    background-position: center;

}

.login-box {
    width: 360px;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 18px;
}



.header {

    margin: 0;

    text-align: center;
    font-size: 22px;

}

.login {
    margin-top: 20px;
    margin-bottom: 30px;
}


.buttons-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttons {

    width: 100%;
    margin-top: 60px;
    border: none;
    outline: none;
    height: 60px;
    font-size: 20px;
    border-radius: 20px;
    color: #fff;
    background-color: goldenrod;
    text-decoration: none;
    padding-top: 18px;
}

.buttons:hover {
    cursor: pointer;
    background-color: darkgoldenrod;
    color: #000;
}

.signup {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
}